html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.CardList{
  color:aqua;
}

.LoadBTNWrapper{
  color:blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.LoadBTN{
  background: #1977D2;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 4px;
}

.LoadBTN:hover{
  background: #1d6cba;
}

.LoadBTNWrapper:active .LoadBTN{
  background: #13416e;
}