html:lang(ru){
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

.CardList{
  color:aqua;
}

.LoadBTNWrapper{
  color:blueviolet;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}

.LoadBTN{
  background: #1977D2;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 4px;
}

.LoadBTN:hover{
  background: #1d6cba;
  cursor: pointer;
}

.LoadBTN:active {
  background: #13416e;
}


.CardImage{
  width: 100%;
  height: 110px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.CardDate{
  margin-bottom: 20px;
}

.CardBody{
  padding: 10px;
}

.CardWrapper{
  width: 210px;
  border-radius: 6px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 2px rgb(177, 177, 177);
}

.CardLike{
  margin-left: 8px;
  margin-bottom: 8px;
}

.CardLike:hover{
  cursor: pointer;
  fill: rgb(81, 44, 44);
}

.hiddenBox{
  position: absolute;
  margin-left: 10px;
  opacity: 0;
}

.hiddenBox:hover{
  cursor: pointer;
}

.hiddenBox:hover~svg{
  fill: rgb(81, 44, 44);
}

.hiddenBox:checked~svg{
  fill:red;
}

.CardsWrapper{
  margin-left: auto;
  margin-right: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  padding: 10px;
}

#Loader{
  font-size: 4em;
  text-align: center;
  display: block;
}